torch>=2.3.1
torchvision>=0.15.2
torchmetrics>=1.7.0
mlflow==3.0
sagemaker-mlflow
scikit-learn
pillow
opencv-python
tqdm
numpy
lightning
tensorboard
timm
sagemaker
ipywidgets
matplotlib
pandas
pyarrow
# additional system level logging metrics
psutil
nvidia-ml-py
